/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 févr. 2016, 16:05:54
    Author     : Niels
*/

@charset "UTF-8";

.center
{
    margin: 2%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.blue-hover:hover 
{
    background-color: #9faeb7;
    opacity: 0.8;
}

#offCanvas
{
  height: 100%;
  background-color: #e6e6e6;
  padding-left: 1%;
}

#offCanvas li
{
    margin: 5%;
    font-weight: bold;
}
.row {

  max-width: 1200px; }



.footer {
position:fixed;

bottom:0;
left:0;
height:25px;
width: 100%;
background-color: #e6e6e6;
text-align: center;
font-size: small;
}

.margin
{
    margin:5px;
}