<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--
    INDEX
    !-->
    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>fr.lirmm.servlets.Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saisieTexteTweet</servlet-name>
        <servlet-class>fr.lirmm.servlets.SaisieTexteTweet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>affichageAPITweet</servlet-name>
        <servlet-class>fr.lirmm.servlets.AffichageAPITweet</servlet-class>
        <multipart-config>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>fr.lirmm.servlets.Download</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChoixSentimentAnalysis</servlet-name>
        <servlet-class>fr.lirmm.servlets.ChoixSentimentAnalysis</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/index</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>logIn</servlet-name>
        <servlet-class>fr.lirmm.servlets.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AffichageModeleExistant</servlet-name>
        <servlet-class>fr.lirmm.servlets.AffichageModeleExistant</servlet-class>
        <multipart-config>
        </multipart-config>
    </servlet>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saisieTexteTweet</servlet-name>
        <url-pattern>/saisieTexteTweet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>affichageAPITweet</servlet-name>
        <url-pattern>/affichageAPITweet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChoixSentimentAnalysis</servlet-name>
        <url-pattern>/choixSentimentAnalysis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AffichageModeleExistant</servlet-name>
        <url-pattern>/AffichageModeleExistant</url-pattern>
    </servlet-mapping>
    <resource-ref>
        <res-ref-name>jdbc/workflow_db</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
